a[href^="https"] {
  color: rgb(9, 211, 77);
}

ul + p {
  font-size: 24px;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f73d3d;
}

.holder {
  background: #0f243f;
  border-radius: 8px;
  padding: 20px;
}

h1 {
  color: #f5f2f2;
}

a {
  text-decoration: none;
  color: blue;
}
